<!-- Footer -->
<footer class="colorFooter text-center text-white">
    <!-- Grid container -->
    <div class="container">
        <div class="top d-flex justify-content-center align-items-center">

            <!-- Section: Text -->
            <section class="m-3">
                <p>CONTACTO</p>
                <p>ÚNETE</p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
            </section>
            <!-- Section: Social media -->

        </div>

        <!-- Copyright -->
        <div class="text-center p-3">
            © 2020 Copyright:
            <a class="text-white" href="#">Aviso Legal</a> |
            <a class="text-white" href="#">Política de Privacidad</a> |
            <a class="text-white" href="#">Política Cookies</a>

        </div>
    </div>
    <!-- Copyright -->
    <!-- Footer -->
</footer>