    .path1 {
        width: 30em;
        height: 50em;
        clip-path: polygon(0 100%, 0 0, 100% 0, 50% 50%);
    }
    
    .container img {
        position: relative;
        padding: 10px;
        border: 3px solid thistle;
    }
    
    .path {
        top: 51%;
        left: -23%;
        transform: translate(-50%, -50%);
    }
    
    .path2 {
        width: 30em;
        height: 50em;
        clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    
    .borde {
        width: 100%;
        height: 0%;
        border: 2px solid black;
    }
    
    .texto {
        width: 60em;
        text-align: center;
        height: 100px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        transform: skew(-20deg);
    }
    
    .triangulo {
        width: 100vw;
        height: 100%;
        background-image: url('../../../../../assets/images/vestidoNeverNegro.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* clip-path: ellipse(73% 50% at 0% 51%); */
        clip-path: polygon(0 0, 100% 0, 69% 40%, 25% 66%, 0 100%);
    }
    
    .contenedorEpoca {
        height: 60vh;
        background: #ebebe9;
    }
    
    .trianguloTexto {
        height: 10vh;
    }
    
    .trianguloReverse {
        width: 100vw;
        height: 100%;
        background-image: url('../../../../../assets/images/vestidoNeverNegro.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(100% 100%, 100% 0, 69% 40%, 25% 66%, 0 100%);
        /* clip-path: ellipse(73% 50% at 100% 49%); */
    }
    /* MOVIL */
    
    @media screen and (min-width: 320px) and (max-width: 425px) {
        .imgS3 {
            width: 100%;
            height: 100%;
        }
    }
    /* TABLET */
    
    @media screen and (min-width:426px) and (max-width:1024px) {}