<div class="my-5">
    <div class="">
        <video src=" ./assets/images/presentacion.mp4 " type="video/mp4 " width="100% " height="480" controls></video>
    </div>
    <div class="containerTexto d-flex align-items-center my-5">
        <div class="borde "></div>
        <div class="texto ">
            <h1>NUEVOS DISEÑOS</h1>
            <h3>NO TE LO PIERDAS</h3>
        </div>
        <div class="borde "></div>
    </div>
    <div class="container d-flex ">
        <div class="formas d-flex ">
            <img class="path1 " src="./assets/images/camisetaNeverNegra.png " alt=" ">
            <img class="path path2 " src="./assets/images/camisetaNeverBlancaLogo.png " alt=" ">
        </div>


        <div class="formas d-flex ">
            <img class="path1 " src="./assets/images/camisetaNeverBlanca.png " alt=" ">
            <img class="path path2 " src="./assets/images/camisetaNeverNegraLogo.png " alt=" ">
        </div>
    </div>

    <div class="contenedorEpoca d-flex align-items-center my-5 ">
        <div class="triangulo "></div>
        <div class="trianguloTexto ">
            <h1>SOBRE NOSOTROS</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa magnam sit quia mollitia, ab nobis explicabo dolor ea modi molestias! Amet aspernatur corporis necessitatibus nisi deserunt adipisci enim impedit maiores? Deserunt, quis tempore. Doloremque
            vel hic non tenetur repudiandae eum optio, eaque rem et doloribus corporis, perferendis distinctio iusto qui sint repellat dolore assumenda nesciunt accusantium! Debitis, veniam. Totam, vel. Consequatur quod, perferendis obcaecati iusto, facere
            commodi accusantium quibusdam magni nostrum ex vel delectus vero ratione autem asperiores incidunt adipisci doloremque placeat ut, minus excepturi. Ipsa, aut. Tenetur, necessitatibus ex. Doloremque incidunt voluptatum debitis repellat, ex
            voluptate in fugiat nemo cum vitae, corporis esse nisi accusamus atque ea tempora dolore. Quisquam cupiditate accusamus obcaecati, fugiat atque minima voluptas eaque vero. Corrupti aliquam praesentium similique soluta deleniti nesciunt autem
            iste dicta fugit. Similique quia obcaecati eum in repudiandae a dolor temporibus quam, quo ullam delectus distinctio! Illo, sed. Alias, praesentium commodi.
        </div>
        <div class="trianguloReverse "></div>
    </div>
</div>