<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NEvER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="d-flex">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-globe2"></i> Idioma
                </button>
                <div class="dropdown-menu capa" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Inglés</a>
                    <a class="dropdown-item" href="#">Español</a>
                </div>
            </div>
            <button class="btn btn-outline-light m-1" (click)="showModal = true">Inicio Sesión</button>
        </div>


    </div>
</nav>
<app-menu></app-menu>

<app-modal *ngIf="showModal">
    <div class="formu" body>

    </div>
</app-modal>