.never-modal {
    background-color: rgba(124, 122, 122, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

.right {
    border-radius: 0.25rem;
    background-color: #bbbbbb;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .5);
    background: radial-gradient(ellipse at center, #BBBBBB 0%, #000000 0%, #C4C4C4 100%);
}

.user_card {
    width: 400px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: #c4c4c4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: rgb(32, 32, 32);
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.login_btn {
    width: 100%;
    background: #555555 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #555555 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c4c4c4 !important;
}

.lineaTLogin {
    width: 70%;
    height: 0%;
    border: 1px solid grey;
}

.lineaTRegister {
    width: 80%;
    height: 0%;
    border: 1px solid grey;
}

.linea {
    margin-top: 10px;
    height: 20px;
    border: 1px solid grey;
}

.input-group-append span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

@media screen and (min-width:320px) and (max-width:425px) {
    .right {
        width: 90%;
        height: 60%;
    }
    .user_card {
        width: 90%;
        height: 80%;
    }
    .brand_logo_container {
        width: 130px;
        height: 130px;
    }
    .brand_logo {
        width: 110px;
        height: 110px;
    }
}