<div class="mat-elevation-z8 container my-5 d-flex flex-column">
    <div class="d-flex justify-content-evenly my-2">
        <h1>GESTIÓN DE PEDIDOS</h1>
        <div class="d-flex">
            <div class="containerBuscador">
                <input class="buscador" type="search" placeholder="Buscar" aria-label="Search" (keyup)="filter($event)">
                <div class="botonBuscador">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <!-- <button class="btn btn-outline-dark" type="button"><i class="bi bi-search"></i></button> -->
        </div>
        <button type="button" mat-raised-button color="primary" (click)="showModal = true;">Nuevo Pedido</button>
    </div>

    <table mat-table [dataSource]="dataSource">

        <!-- Descripcion Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}}</td>
        </ng-container>

        <!-- Talla Column -->
        <ng-container matColumnDef="talla">
            <th mat-header-cell *matHeaderCellDef>Talla</th>
            <td mat-cell *matCellDef="let element"> {{element.talla}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>
        <!-- Cantidad Column -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef=" let element "> {{element.cantidad}} </td>
        </ng-container>
        <!-- Precio Column -->
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef=" let element "> {{element.precio}} </td>
        </ng-container>
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element "><button class="btn btn-warning "><i class="bi bi-pencil-square "></i></button></td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element "><button mat-raised-button color="warn "><i class="bi bi-trash "></i></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20] " showFirstLastButtons aria-label="Select page of periodic elements ">
    </mat-paginator>
</div>
<app-modal-anadir-pedido @fade *ngIf="showModal " (open)="setClose($event) ">

</app-modal-anadir-pedido>