<nav class="d-flex justify-content-evenly m-2">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <button type="button" class="btn btn-outline-info m-1">AÑADIR</button>
</nav>
<table class="container table">
    <thead class="table-light">
        <th>Nº PEDIDO</th>
        <th>ARTICULO</th>
        <th>CANTIDAD</th>
        <!-- SE CONSIGUE EN LA TABLA ARTICULOS -->
        <th>PRECIO UNITARIO</th>
        <th>PRECIO TOTAL</th>
        <th></th>
    </thead>
    <tbody>

        <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td><button class="btn btn-danger">Cancelar</button></td>
        </tr>

        <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td><button class="btn btn-danger">Cancelar</button></td>
        </tr>

        <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td><button class="btn btn-danger">Cancelar</button></td>
        </tr>

    </tbody>
</table>