<div class="never-modal ">
    <div class=" never-modal___wrapper " [ngClass]="position ">
        <div class="container-fluid h-100 ">
            <!-- BOTON CERRAR LOGIN -->
            <div class="d-flex justify-content-end my-2 ">
                <button type="button " class="btn-close " id="cerrar" aria-label="Close" (click)="setClose();"></button>
            </div>
            <section class="container">
                <h1 class="title"><img class="tamano" src="./assets/images/LOGONEVERLOGIN.png" alt="">Añadir Pedido</h1>
                <!-- preview -->
                <div class="d-flex justify-content-center">
                    <form action="" class="d-flex justify-content-center" [formGroup]="formAnadirPedido">
                        <div class="m-1">
                            <!-- descripcion -->
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="descripcion" placeholder="Descripcion" aria-label="default input example" formControlName="descripcion">
                                <label for="descripcion">Descripcion </label>
                            </div>

                            <div class="">
                                <!-- talla -->
                                <label for="talla">Talla</label>
                                <select name="" id="talla" class="form-select form-select-sm my-2" formControlName="talla">
                                <option value="" disabled selected>--Elige Talla--</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                            </select>
                            </div>

                            <div class="">
                                <!-- color -->
                                <label for="color">Color</label>
                                <select name="" id="color" class="form-select form-select-sm my-2" formControlName="color">
                                <option value="" disabled selected>--Elige Color--</option>
                                <option value="Negro">Negro</option>
                                <option value="Blanco">Blanco</option>
                                <option value="Gris">Gris</option>
                                <option value="Azul">Azul Oscuro</option>
                                <option value="Morado">Morado</option>
                                <option value="Verde">Verde Oliva</option>
                            </select>
                            </div>
                            <button type="button" class="btn btn-outline-dark m-2" (click)="anadirPedido()">Añadir</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>