.never-modal {
    background-color: rgba(124, 122, 122, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1025;
}

.right {
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255);
    position: fixed;
    top: 16%;
    right: 0;
    width: 30%;
    height: 60%;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .5);
}

.card {
    background: #eeeeee5b;
    height: 150px;
}

.card div img {
    height: 150px;
}

.card-body {
    margin-right: 20%;
}

.containerProducto {
    display: flex;
}

.datos {
    width: 100%;
}

.containerIncremento input {
    width: 25px;
    height: 25px;
}

.containerIncremento button {
    border: transparent;
    background: transparent;
}

.example-viewport {
    height: 400px;
    width: 100vw;
}

.example-item {
    height: 100px;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.botonPedido {
    width: 200px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}

.total {
    width: 200px;
    height: 30px;
    background: rgb(65, 4, 65);
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    color: white;
}

.botonPedido:hover {
    background: rgb(65, 4, 65);
    color: white;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width:320px) and (max-width:425px) {
    .right {
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .right {
        top: 50%;
        transform: translate(0%, -50%);
        width: 70%;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .right {
        top: 50%;
        transform: translate(0%, -50%);
        width: 50%;
    }
}