<div class="container-fluid row mt-4 d-flex justify-content-center">
    <div class="card col-4 m-3" style="width: 18rem;" *ngFor="let ropa of prenda">
        <img [src]="ropa.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ropa.nombre}}</h5>
            <p class="card-text">{{ropa.info}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ropa.precio}}</li>
            <li class="list-group-item">
                <i class="bi bi-circle-fill"></i>
            </li>
            <li class="list-group-item">{{ropa.talla}}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link text-dark">
                <i class="bi bi-heart"></i>
            </a>
            <a href="#" class="card-link text-dark">
                <i class="bi bi-cart-plus"></i>
            </a>
        </div>
    </div>
</div>