<div class="mat-elevation-z8 container my-5 d-flex flex-column">
    <div class="d-flex justify-content-evenly my-2">
        <h1>HISTORIAL PEDIDOS</h1>
        <div class="d-flex">
            <div class="containerBuscador">
                <input class="buscador" type="search" placeholder="Buscar" aria-label="Search" (keyup)="filter($event)">
                <div class="botonBuscador">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <!-- <button class="btn btn-outline-dark" type="button"><i class="bi bi-search"></i></button> -->
        </div>
    </div>

    <table mat-table [dataSource]="dataSource">

        <!-- Articulo -->
        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef>Codigo Pedido</th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <!-- Color -->
        <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>
        <!-- Talla -->
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.talla}} </td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="confirmarBorrarPedido(element.iD_ROPA)"><i class="bi bi-trash"></i></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>