<header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">NEVER <span>forget waht you diserve</span></h1>
            </div>
        </div>
    </div>
</header>
<section class="1">
    <section class="parallax parallax-1">
        <div class="parallax-inner">
            <br>
            <h1 class="slider-text jarallax">OFERTAS</h1>
            <br>
        </div>
    </section>
    <h3></h3>
    <h3></h3>
    <section class="row parallax HM ">

        <section class="col-md-6 col-sm-12 parallax-2">
            <div class="parallax-inner2">
                <br>
                <h1 class="slider-text ">HOMBRE</h1>
                <br>
            </div>
        </section>
        <section class="parallax blur">

        </section>
        <section class="col-md-6 col-sm-12 parallax-3">
            <div class="parallax-inner2">
                <br>
                <h1 class="slider-text ">MUJER</h1>
                <br>
            </div>
        </section>
    </section>
</section>


<app-season></app-season>