<section class="1">
    <section class="parallax parallax-1">
        <div class="parallax-inner">
            <br>
            <h1 class="slider-text jarallax">OFERTAS</h1>
            <br>
        </div>
    </section>
    <h3></h3>
    <h3></h3>
    <section class="row parallax HM ">

        <section class="col-md-6 col-sm-12 parallax-2">
            <div class="parallax-inner2">
                <br>
                <h1 class="slider-text ">HOMBRE</h1>
                <br>
            </div>
        </section>
        <section class="parallax blur">

        </section>
        <section class="col-md-6 col-sm-12 parallax-3">
            <div class="parallax-inner2">
                <br>
                <h1 class="slider-text ">MUJER</h1>
                <br>
            </div>
        </section>
    </section>
</section>


<app-season></app-season>