<section class="1">
    <section class="parallax">
        <div class="parallax-inner">
            <br>
            <h1>OFERTAS</h1>
            <br>
        </div>
    </section>
    <h3></h3>
    <h3></h3>
    <section class="parallax-1">
        <div class="parallax-inner">
            <br>
            <h1>HOMBRE</h1>
            <br>
        </div>
    </section>
</section>

<section class="2">
    <h3></h3>
    <h3></h3>
    <section class="parallax-2">
        <div class="parallax-inner">
            <br>
            <h1>MUJER</h1>
            <br>
        </div>
    </section>
</section>