<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOMBRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MUJER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OFERTAS 
                        <i class="bi bi-tags-fill"></i>
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
            <a class="nav-link" href="#">
                <i class="bi bi-heart"></i> 
                FAVORITOS
            </a>
      </span>
        </div>
    </div>
</nav>