<div class="never-modal ">
    <div class=" never-modal___wrapper " [ngClass]="position ">
        <div class="container-fluid h-100 ">
            <!-- BOTON CERRAR LOGIN -->
            <div class="d-flex justify-content-end my-2 ">
                <button type="button " class="btn-close " id="cerrar" aria-label="Close" (click)="setClose();"></button>
            </div>
            <section class="container">
                <h1 class="title"><img class="tamano" src="./assets/images/LOGONEVERLOGIN.png" alt="">Añadir Articulo</h1>
                <form action="" class="d-flex justify-content-center">
                    <div class="m-1">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="descripcion" placeholder="Descripcion" aria-label="default input example">
                            <label for="descripcion">Descripcion </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="fabricante" placeholder="Fabricante" aria-label="default input example">
                            <label for="fabricante">Fabricante </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" id="peso" placeholder="Peso" aria-label="default input example">
                            <label for="peso">Peso </label>
                        </div>
                        <div class="">
                            <label for="talla">Talla</label>
                            <select name="" id="talla" class="form-select form-select-sm my-2">
                                <option value="" disabled selected>--Elige Talla--</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                            </select>

                        </div>
                        <div class="form-floating mb-3">
                            <label for="precio">Precio </label>
                            <input class="form-control" type="number" id="precio" placeholder="Precio" aria-label="default input example">
                        </div>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="m-1">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" id="alto" placeholder="Alto" aria-label="default input example">
                            <label for="alto">Alto </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" id="largo" placeholder="Largo" aria-label="default input example">
                            <label for="largo">Largo </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" id="ancho" placeholder="Ancho" aria-label="default input example">
                            <label for="ancho">Ancho </label>
                        </div>

                        <div class="">
                            <label for="color">Color</label>
                            <select name="" id="color" class="form-select form-select-sm my-2">
                                <option value="" disabled selected>--Elige Color--</option>
                          <option value="">Negro</option>
                          <option value="">Blanco</option>
                          <option value="">Gris</option>
                          <option value="">Azul Oscuro</option>
                          <option value="">Verde Oliva</option>
                         </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" id="registro" placeholder="Precio" aria-label="default input example">
                            <label for="registro">Registro</label>
                        </div>
                        <input type="button" value="Añadir" class="btn btn-outline-dark m-2">
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>