<nav class="navbar navbar-expand-lg navbar-light bg-light u-sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active underline" aria-current="page" [routerLink]="['home']" routerLinkActive="active">
                        <i class="bi bi-house-fill"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline" aria-current="page" [routerLink]="['tienda']" routerLinkActive="active">
                        <i class="bi bi-bag-fill"></i> Tienda
                    </a>
                </li>
                <li class="nav-item" *ngIf="permisos == 4 || permisos == 1">
                    <a class="nav-link underline" [routerLink]="['pedidos']" routerLinkActive="active">
                        <i class="bi bi-person-fill"></i>Pedidos
                    </a>
                </li>
                <li class="nav-item" *ngIf="permisos == 1 || permisos == 2 || permisos == 3 ">
                    <a class="nav-link underline" [routerLink]="['gestion']" routerLinkActive="active">
                        <i class="bi bi-gear-fill"></i> Gestión
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="nav-link link-dark position-relative" (click)="showModal = true;"><i class="bi bi-cart2"></i>
                      <span class="position-absolute top-30 start-95 translate-middle badge rounded-pill bg-danger" *ngIf="contador != 0">
                        {{contador}}
                        </span>
                </button>

                <button class="nav-link link-dark" (click)="showModal2 = true;" *ngIf="permisos"><i class="bi bi-person"></i></button>
                <!-- VENTANA CON AJUSTES USUARIOS BASICOS -->
            </div>
        </div>
    </div>
</nav>

<app-modal-carrito @fade *ngIf="showModal" (open)="setClose($event)">

</app-modal-carrito>

<app-modal-perfil @fade *ngIf="showModal2" (open)="setClose($event)">

</app-modal-perfil>